input {
    border: 2px solid #000;
    border-radius: 7px;
    font-size: 26px;
    padding: 10px;
}

button {
    font-size: 26px;
    border: 2px solid #000;
    border-radius: 7px;
    background-color: brown;
    padding: 10px;

}